{% extends "padre.html" %}



{% block seccion %}
    <h1>Buscar Profesor</h1>    
{% endblock %}


{% block contenido %}


    <main>
        

        <div class="container">
            <h2>Ingrese el DNI del profesor</h2>
            <div class="row">
                <div class="col">
                    <form action="resultado_profesor" method="GET">      
                        <p>DNI profesor</p>
                        <input type="number" name="dni" required>       
                
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>


    </main>
    

    
  
    

   

{% endblock %}